parameters:

    # MongoDB #

    mongoDBServer: mongodb://User:Password!@localhost:27017/LogAnalyzer
    mongoDBDatabaseName: LogAnalyzer

    # Mailer #

    mailerTransport: smtp
    mailerHost: 127.0.0.1
    mailerPort: 25
    mailerUser: null
    mailerPassword: null
    logAnalyzerEmailAddress: log.analyzer@orange.com

    # Collector #

    collectorConnexionTimeOut: 5 #sec

    # Log #

    retentionLog: 7 #day
    maxLogReturn: 50000

    # LiveGraph #

    retentionLiveGraph: 7 #day
    aggregationTimeLiveGraph: 5 #min
    offsetTimeLiveGraph: 5 #min

    # Default user #

    projectAdministratorFirstName: Project
    projectAdministratorLastName: Administrator
    projectAdministratorEmail: project.administrator@orange.com
    projectAdministratorPassword: PassW0rd!

    # Special #

    debugMode: false
    secret: a1cdb7cfa1c88eed87a639059a18afb8405a2730cdf04a0dc636d8ba75f87b12
    passwordSalt: 47432fba63d64f5ba53fad9da9b5cdd76142792c43f3426bb3f4750a582b4921