{% extends 'LogAnalyzerCoreBundle:Layout:layout.html.twig' %}

{% set title = 'Dashboard' %}

{% block body %}

	<!-- Navigation container -->

	<div id="navigationContainer">
		<div id="signOutContainer"></div>
		<div id="menuContainer"></div>
	</div>

	<!-- Navigation header container -->

	<div id="navigationHeaderContainer"></div>

	<!-- Content container -->

	<div id="contentContainer">
		<div id="content"></div>
	</div>

{% endblock %}