{% extends 'LogAnalyzerCoreBundle:Layout:layout.html.twig' %}

{% set title = 'Login' %}

{% block body %}

	<!-- Content container -->

	<div id="contentContainer">
		<div id="content"></div>
	</div>

{% endblock %}